{% extends 'base.html.twig' %}

{% block title %}Hello SemestresController!{% endblock %}

{% block body %}
	{% if semestres|length >0 %}
		<h2>Liste des semestres</h2>
		<table class="table table-hover">
			<thead>
				<tr class="table-primary">
					<!-- <th scope="row">Année</th> -->
					<th scope="row">Semestres</th>
					<!-- <th scope="row">Matières</th> -->
					<th scope="row">Epreuves</th>
				</tr>
			</thead>
			<tbody>
				{% for semestre in semestres %}
				    	{% for semestreEpreuve in semestre.epreuves %}
				    		<tr class="table-light">
					    		<td scope="row">{{semestre}}</td>
				    	    	<td scope="row">{{semestreEpreuve}}</td>
				    		</tr>
				    	{% endfor %}
				{% endfor %}
			</tbody>
		</table>
		{% else %}
	    <p>Il n' y a pas encore de semestres enregistrés</p>
	{% endif %}
	<hr/>
    <a href="{{path('semestre_create')}}"><button class="btn btn-info">Ajouter un nouveau semestre</button></a>
{% endblock %}
