{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ajout d'une épreuve</h1>
    {{form_start(formEpreuve)}}
    {{form_widget(formEpreuve)}}
    <hr/>
    <button type="submit" class="btn btn-success">Ajouter</button>
    {{form_end(formEpreuve)}}
    <hr/>
    <a href="{{path('epreuves')}}"><button class="btn btn-info">Revenir à la liste</button></a>
{% endblock %}