{% extends 'base.html.twig' %}

{% block title %}Hello DepartementController!{% endblock %}

{% block body %}
	<hr/>
	<h1>Liste des départements</h1>
	<hr/>
	<table class="table table-hover">
		<thead>
		    <tr class="table-primary">
		      <th scope="row">Départements</th>
		      <th scope="row">Etablissements</th>
		    </tr>
		</thead>
	  	<tbody>
			{% for departement in departements %}
				<tr class="table-light">
					<td scope="row">{{departement.libelle}}</td>
					<td>{{departement.etablissement}}</td>
				</tr>
			{% endfor %}
	  	</tbody>
	</table>
    <a href="{{path('departement_create')}}"><button class="btn btn-info">Ajouter un nouveau département</button></a>
{% endblock %}
