{% extends 'base.html.twig' %}

{% block title %}Hello EtablissementController!{% endblock %}

{% block body %}
	{% if etablissements|length > 0 %}
		<h1>Voici la liste des établissements</h1>
		<table class="table table-hover">
			<thead>
				<tr class="table-primary">
				  <th scope="row">Etablissements</th>
				</tr>
			</thead>
			<tbody>
				{% for etablissement in etablissements %}
			    <tr class="table-light">
			      <td>{{etablissement}}</td>
			    </tr>
				{% endfor %}
			</tbody>
		</table> 
	{% else %}
		<p>Il n'y a pas encore d'établissements</p>    
	{% endif %}
	<hr/>
	<a href="{{path('etablissement_create')}}"><button class="btn btn-info">Ajouter un nouvel établissement</button></a>
{% endblock %}
